{% extends 'base.html.twig' %}

{% block title %} About {% endblock %}
{% block body %}
		<div class="table-responsive">
			<table class="table" id="about">
				<thead>
					<tr>
						<th scope="col" class="text-center font-weight-bold">Here is the assignment as discussed.</th>
					</tr>
				</thead>
				<tbody>
						<tr>
						  <td scope="row">Build a basic Create, read, delete and update application using Symphony4, html, css and mysql with the following functionalities:-</td>
						</tr>
							<td>
								<ul>
									<li>
										Create a product page which will enable a user to input some basic details like product name, product price, stock available, status (Dropdown with values In Stock, Out of Stock, Pre Order).
									</li>
									<li>
										Create another page called Category page where user can create new categories. You can have just category name. Also while creating category user can assign already made products into it.
									</li>
									<li>
										You don't have to create the authentication module and anyone can use it if they have a url.
									</li>
									<li>
										Regarding UI just create a basic UI using bootstrap HTML or whatever suits (UI will not be evaluated)
									</li>
								</ul>
							</td>
						
				</tbody>
			</table>
		</div>
{% endblock %}